<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/application.js"></script>
</head>
<body>

<script type="text/x-handlebars" id="application">
  {{outlet users}}
  {{outlet edit}}
</script>

<script type="text/x-handlebars" id="edit">
{{name}}
</script>

<script type="text/x-handlebars" id="user">
  <ul>
    {{#each user in controller}}
      <li {{action editUser user href=true}}>
        {{user.name}} {{user.position}}
      </li>
    {{/each}}
  </ul>
</script>

<script>
  $(document).ready(function(){
    App = require('app');
    App.initialize();
  });
</script>

</body>
</html>
